<div class="forecast-container">
    <h3>{{ langService.get('FORECAST_TITLE') }}</h3>
    <div class="forecast-grid">
        <ng-container *ngIf="!loading && dailyForecasts.length > 0; else skeletonForecast">
            <div *ngFor="let day of dailyForecasts" class="forecast-item">
                <p class="day-name">{{ day.dt * 1000 | date: 'EEE':undefined:langService.getCurrentLang() }}</p>
                <app-weather-icon [iconCode]="day.weather[0].icon" [size]="40"></app-weather-icon>
                <p class="temp">{{ day.main.temp | number: '1.0-0' }}°{{ units === 'metric' ? 'C' : 'F' }}</p>
                <p class="desc">{{ day.weather[0].description }}</p>
            </div>
        </ng-container>

        <ng-template #skeletonForecast>
            <div class="forecast-grid">
                <div *ngFor="let i of [1,2,3,4,5]" class="forecast-item" style="height: 210px;">
                    <div class="skeleton" style="width: 90%; height: 1.2rem; margin: 0 auto 1.5rem;"></div>
                    <div class="skeleton" style="width: 72px; height: 72px; border-radius: 50%; margin: 0 auto 1.5rem;">
                    </div>
                    <div class="skeleton" style="width: 80%; height: 2rem; margin: 0 auto 1rem;"></div>
                    <div class="skeleton" style="width: 85%; height: 1.2rem; margin: 0 auto;"></div>
                </div>
            </div>
        </ng-template>
    </div>
</div>