.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-svg {
    width: 100%;
    height: 100%;
}

/* SUN ANIMATION */
.sun-rays {
    animation: rotate 20s linear infinite;
    transform-origin: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* CLOUD ANIMATION */
.cloud-main {
    animation: drift 4s ease-in-out infinite alternate;
}

.cloud-back {
    animation: drift 6s ease-in-out infinite alternate-reverse;
}

@keyframes drift {
    from {
        transform: translateX(-5px);
    }

    to {
        transform: translateX(5px);
    }
}

/* RAIN ANIMATION */
.drop {
    animation: rain 1s linear infinite;
    opacity: 0;
}

.d1 {
    animation-delay: 0s;
}

.d2 {
    animation-delay: 0.3s;
}

.d3 {
    animation-delay: 0.6s;
}

@keyframes rain {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(10px);
        opacity: 0;
    }
}

/* THUNDER ANIMATION */
.bolt {
    animation: flash 3s infinite;
}

@keyframes flash {

    0%,
    90%,
    100% {
        opacity: 0;
    }

    92%,
    96% {
        opacity: 1;
    }
}

/* SNOW ANIMATION */
.flake {
    animation: fall 3s linear infinite;
    opacity: 0;
}

.f1 {
    animation-delay: 0s;
}

.f2 {
    animation-delay: 1s;
}

.f3 {
    animation-delay: 2s;
}

@keyframes fall {
    0% {
        transform: translateY(-10px) translateX(0);
        opacity: 0;
    }

    50% {
        transform: translateY(10px) translateX(5px);
        opacity: 1;
    }

    100% {
        transform: translateY(30px) translateX(0);
        opacity: 0;
    }
}

/* MIST ANIMATION */
.mist-line {
    animation: wave 4s ease-in-out infinite;
}

.l1 {
    animation-delay: 0s;
}

.l2 {
    animation-delay: 1s;
}

.l3 {
    animation-delay: 2s;
}

@keyframes wave {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }
}